body {
  text-align: center;
  background-color: #011f3f;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  color: #fef2bf;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
  width: 10rem !important;
  height: 10rem !important;
  flex: 0 0 auto;
  &:hover {
    background-color: #ff4545;
  }
}

.green {
  background-color: green;
  width: 10rem !important;
  height: 10rem !important;
  flex: 0 0 auto;
  &:hover {
    background-color: #00ff00;
  }
}

.blue {
  background-color: blue;
  width: 10rem !important;
  height: 10rem !important;
  flex: 0 0 auto;
  &:hover {
    background-color: #00ffff;
  }
}

.yellow {
  background-color: yellow;
  width: 10rem !important;
  height: 10rem !important;
  flex: 0 0 auto;
  &:hover {
    background-color: #a4a400;
  }
}

.game-over {
  background-color: red;
  opacity: 0.8;
}
.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
