body {
  text-align: center;
  background-color: #011f3f;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  color: #fef2bf;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
  width: 10rem !important;
  height: 10rem !important;
  flex: 0 0 auto;
  &:hover {
    background-color: #ff4545;
  }
}

.green {
  background-color: green;
  width: 10rem !important;
  height: 10rem !important;
  flex: 0 0 auto;
  &:hover {
    background-color: #00ff00;
  }
}

.blue {
  background-color: blue;
  width: 10rem !important;
  height: 10rem !important;
  flex: 0 0 auto;
  &:hover {
    background-color: #00ffff;
  }
}

.yellow {
  background-color: yellow;
  width: 10rem !important;
  height: 10rem !important;
  flex: 0 0 auto;
  &:hover {
    background-color: #a4a400;
  }
}

.game-over {
  background-color: red;
  opacity: 0.8;
}
.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.instructions h2 {
  font-family: "Press Start 2P", cursive !important;
  font-size: 1.5rem !important;
  color: #fef2bf !important;
}

.instructions p {
  font-family: "Press Start 2P", cursive !important;
  font-size: 1rem !important;
  color: #fef2bf !important;
}

@media (max-width: 768px) {
  #level-title {
    font-size: 1rem !important;
  }
  .btn {
    width: 8rem !important;
    height: 8rem !important;
  }
  .instructions h2 {
    font-size: 1rem !important;
  }
  .instructions p {
    font-size: 0.6rem !important;
  }
}

@media screen and (max-height: 450px) {
  .btn {
    width: 6rem !important;
    height: 6rem !important;
  }
}
