body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  color: #FEF2BF;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
  width: 10rem!important;
  height: 10rem!important;
  flex: 0 0 auto;
}

.green {
  background-color: green;
  width: 10rem!important;
  height: 10rem!important;
  flex: 0 0 auto;
}

.blue {
  background-color: blue;
  width: 10rem!important;
  height: 10rem!important;
  flex: 0 0 auto;
}

.yellow {
  background-color: yellow;
  width: 10rem!important;
  height: 10rem!important;
  flex: 0 0 auto;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
